.Page {

top: 159px;
left: 224px;
  position: relative;
}

.profile-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  span {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    &:nth-child(2) {
      color: rgba(255, 1, 1, 1);
      padding-left: 10px;
    }
  }
  div {
    margin-top: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
  }
}

.content {
  display: flex;
}

.sidebar {
    width: 117px;
    height: 1024px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #020203;
}

.otherChart {
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .energy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .box {
    width: 30%;
    height: 124px;
    display: flex;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 4px 0px #00000005;
    align-items: center;
   

    img {
      margin-left: 60%;
      width: 60px;
      height: 60px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    p {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      margin: 0px;
    }
  }

.chart-container {
  height: 320px;
background-color: #00000005;
.title-barchart{
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;

}


} 

.allchart {
  width: 70%;
  margin-right: 2%;
}

.radar-container {
  width: 33%;
  background-color: #282D30;
  box-shadow: 0px 2px 4px 0px #00000005;
}

.radial-bar {
  width: 33%;
  background: #FBFBFB;
  box-shadow: 0px 2px 4px 0px #00000005;

  .recharts-wrapper {
    .recharts-legend-wrapper {
      text-align: center;

      .score-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        height: 100%;

        span.score {
          font-size: 26px;
          font-weight: 800;
        }
        p.description {
          font-size: 16px;
          color: rgba(116, 121, 140, 1);
          padding-left: 10%;
          padding-right: 10%;
          line-height: 26px;
        }
      }
    }
  }
}

.line-chart {
  width: 33%;
  background-color: #ff0000;
}

.title-score {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 28%;
  position: relative;
  top: 10%;
}

.title-linear{
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
  color:  rgba(255, 255, 255, 0.504);
  top: 8%;
  left: 12%;
}